

/* Results section */

#results-section {
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

/* Distribution figures */


.distribution-view-wrapper tr {
    width: 100%;
    display: table;
}
.distribution-view-wrapper td.distribution-view {
    width: 100%;  /* fill remaining width with the img */
}


.distribution-view > select {
    z-index: 1;
}
.distribution-comparison {
    width:100%;
    display: table;
}
.distribution-view svg {
    max-height: 50vh;
}

.distribution-comparison > * {
   display: table-cell;
   margin: auto;
   width: 50%;
}
