/* Styles specific to the database details page */
#details-top-block {
    height: 100px;
    border: 3px solid black;
    margin: 20px;
}


/* The collapsible sections */

.collapsed {
    border-bottom: 2px solid var(--accent-3);
}


.collapsible span {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    position: relative;
    top: 0%; 
}

.collapsible > .type-label {
    color: var(--accent-3);
    margin: 0px 20px;
    font-style: italic;
}

/* Distribution views */

.distribution-view svg {
    min-height: 10vh;
    max-height: 60vh;
    height: 40vh;

}

/*
.distribution-view-wrapper {
  width: 100%;
  border: 1px solid red;
}

.distribution-view { 
    position: relative;
    min-height: 200px;
    max-height: 50vh;
    height: 40vh;
}

.distribution-view > * {
    top: 0%;
    position: relative;
    max-height: 100%;
}

.distribution-view svg {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} */

