/* WIP */

#subgroups-section {
    border-bottom: 4px solid var(--accent-3);
    width: 100%;
}

#subgroups-section > div {
    display: flex;
}

#subgroups-section > div > div {
    text-align: center;
    border: 2px dashed red;
    flex: 1;
}

#subgroups-section .subgroup-label * {
    display: inline-block;
    min-height: 24px;
    line-height: 24px;
    vertical-align: middle;
}



/* TODO: move */
.filter-button {
    min-width: 24px;
    min-height: 24px;
    border: 1px solid;
    border-radius: 2px;
}

.filter-button::before {
    font-family: "Material Icons";
    content: "filter_alt";
}

/*  */






#subgroup-sort {
    border: 2px solid;
    float: right;
}

#level-view-values td {
    margin: 0px;
    padding: 10px 20px;
}

#level-view-values {
    margin: 20px;
}


#level-view-values tr:hover {
    transform: scale(1.1) translate(10px, 0px);
}



