/* Styles specifically applied to the dataset detail view page */

.attribute-header {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}
.attribute-header > * {
    width: 30%;
}
.attribute-name-indicator {
    font-weight: bold;
}
.attribute-type-indicator {
    text-align: center;
    font-style: italic;
    color: var(--accent-1);
}
.attribute-number-indicator {
    text-align: right;
    font-style: italic;
    color: var(--accent-1);
}

#collapse-controls {
    padding: 5px;
    display: inline-flex;
    justify-content: flex-end;
    gap: 5px;
    position:relative;
    top:0;
    right:0;
    min-width: 250px;
}
#collapse-controls > * {
    width: 40%
}

#attribute-details-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#attribute-details-header > :first-child { /* Attribute Details Title */
    font-weight: bold;
    font-size: large;
}


#attribute-details {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    gap: 10px;
    padding: 10px;
}

.attribute-header {
    padding: 0px 5px 0px 10px;
    white-space: nowrap;
    min-width: 250px;
}
.attribute-header > * {
    white-space: nowrap;
    flex-shrink: 0;
    padding: 0px 5px;
    min-width: max-content;
}
#attribute-details > * {
    border: 3px solid var(--alt-background);
    border-radius: 10px;
    box-shadow: 0px 0px; /* override collapsible section default */
    flex-shrink: 0;
}
#attribute-details > [collapsed] {
    align-self: flex-start;
}
