#filter-subpage {
    align-self: center;
}

#filter-subpage > form {
    margin: 3px;
    padding: 3px;
}

#filter-subpage  .attribute-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    padding: 10px;
}
#filter-subpage .attribute-options > * {
    border: 2px solid var(--alt-background);
    border-radius: 5px;
}

#filter-submit-button {
    padding: 5px;
    margin: 5px;
    width: 80%;
    position: relative;
    left: 10%;
    font-size: medium;
    font-weight: bold;
}

#filter-info {
    width: 100%;
    border-collapse: collapse;
}
#filter-info tr {
    border: 1px solid;
}

#filter-info td {
    padding: 0px;
}


#filter-info span {
    display: inline-block;
    min-width: 20px;
    border: 2px solid var(--alt-background);
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
}
#subgroup-lists {
    display: flex;
    padding: 10px;
}
#subgroup-lists > table {
    flex-grow: 1;
}

#subgroup-lists > table td {
    text-align: center;
    border-top: 1px solid;
}
