/* || Reset Defaults */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* General Variables */
:root {
    --figure-highlight-color: yellow;
    --plot-element-hover-scale: 1.1;
    --status-bar-height: 14px;
    /* Colormaps / palettes */
    --current-cat-colors: var(--colors-categorical-12);
    --current-cont-colors: var(--colors-seq-viridis);
    /* Categorical */
    --colors-categorical-6: #0fb5ae, #4046ca, #f68511, #de3d82, #7e84fa, #72e06a;
    --colors-categorical-12: #0fb5ae, #4046ca, #f68511, #de3d82, #7e84fa, #72e06a, #147af3, #7326d3, #e8c600, #cb5d00, #008f5d, #bce931;
    --colors-categorical-bright-9: #e60049, #0bb4ff, #50e991, #e6d800, #9b19f5, #ffa300, #dc0ab4, #b3d4ff, #00bfa0;
    /* Sequential */
    --colors-seq-viridis: #fde725, #d2e21b, #a5db36, #7ad151, #54c568, #35b779, #22a884, #1f988b, #23888e, #2a788e, #31688e, #39568c, #414487, #472f7d, #481a6c, #481a6c;
    --colors-seq-magma: #fcfdbf, #fddea0, #febf84, #fe9f6d, #fa7f5e, #f1605d, #de4968, #c43c75, #a8327d, #8c2981, #721f81, #57157e, #3b0f70, #20114b, #20114b, #000004;
    /* Diverging */
    --colors-div-orange-yellow-seafoam: #580000, #bd651a, #ffffe0, #3ea8a6, #002c2d;
    --colors-div-red-yellow-blue: #4a001e, #c65154, #ffffe0, #397aa8, #10194d;
    --colors-div-red-blue: #4a001e, #cc415a, #faf0ff, #2f74b3, #0b194c;
}

/* || Basic Styles */

[bold] {
    font-weight: bold;
}

[center] {
    text-align: center;
}
[hidden] {
    display: none !important;
}

/* || Themes */
[theme="default"] {
    --background-color: azure;
    --alt-background: lightgrey;
    --accent-1: #2fa3de;
    --accent-2: #2381b0;
    --hover-selection: #92cbe8;
    --active-selection: #095b85;
}



/* apply the theme */
body {
    background-color: var(--background-color, white);
    display: flex;
    padding: 0;
}
[active-selection] {
    background-color: var(--active-selection, cyan);
}

/* || Main Content */
#page-content-wrapper {
    flex-grow: 1;
    height: calc(100vh - var(--status-bar-height));
    margin-bottom: var(--status-bar-height);
    overflow: auto;
}
#page-content { 
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-width: 1200px; /* Change? */
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#page-content > * {
    flex-shrink: 0;
}

/* || Buttons (in general) */

button {
    background-color: var(--accent-1);
    border: 2px solid var(--accent-2);
    border-radius: 5px;
    box-shadow: 0 2px var(--accent-2);
}

button:hover {
    background-color: var(--hover-selection);
}

button:active {
    box-shadow: 0 0px;
    transform: translateY(2px);
}
    

/* || Side menu/navigation bar */
#navigation-bar {
    height: calc(100vh - var(--status-bar-height,0px));
    background-color: var(--accent-1);
    width: 120px;
    display: flex;
    flex-direction: column;
    --transition-time: 0.2s;
    transition: width var(--transition-time);
}
#navigation-bar[collapsed] {
    width: 30px;
}
#expand-button {
    display: flex;
    justify-content: flex-end;
}
#expand-icon::before {
    content: "expand_more";
}
/* All icons (includes expand-icon) */
#navigation-bar .material-icons,
#navigation-bar .material-icons-outlined {
    height: 24px;
    width: 30px;
    line-height: 24px;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
}


/* Menu Expand management */
#navigation-bar #expand-icon {
    transition: transform var(--transition-time);
}
#navigation-bar:not([collapsed]) #expand-icon {
    transform: rotate(90deg);
}
#navigation-bar[collapsed] #expand-icon {
    transform: rotate(-90deg);
}

#navigation-bar[collapsed] .menu-select > span:not(.material-icons):not(.material-icons-outlined) {
   display: none;
}
/* Menu options */
.menu-select {
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
}

.menu-select:hover {
    background-color: var(--hover-selection);
}

.menu-select > span:not(.material-icons-outlined):not(.material-icons) { /* menu text */
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
}

#navigation-bar > .menu-filler {
    flex-grow: 1;
    border-bottom: 2px solid black;
}

.menu-select[disabled] {
    background-color: var(--accent-1);
    filter: saturate(70%);
}

.menu-select[disabled] > * {
    opacity: 50%;
}

/* || Settings and Help Menus */

.close-menu-icon {
    position: absolute;
    right: 0;
    top: 0;
}
.close-menu-icon:hover {
    color: var(--accent-1);
}

#menu-haze {
    height: 100vh;
    width: 100vw;
    background-color: grey;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.7;
}
.menu {
    height: 80vh;
    width: 70vw;
    background-color: var(--background-color);
    border: 2px solid var(--alt-background);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: flex;
    flex-direction: columns;
}

.menu-title {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    padding: 10px 5px;
}
.menu-page {
    flex-grow: 1;
    overflow: auto;
    padding: 2px;
}
.menu > .menu-bar {
    min-width: max-content;
    width: 10%;
    max-width: 200px;
    background-color: var(--accent-1);
}

.menu > .menu-page .section-heading {
    border-bottom: 2px solid var(--accent-1);
    display: flex;
    margin-bottom: 5px;
    margin-top: 24px;
    font-weight: bold;
    font-size: large;
}


.menu > .menu-page .section-heading > *:first-child {
    flex-grow: 1;
    font-size: large;
}
.menu > .menu-page .section-heading > *:not(:first-child) {
    font-weight: normal;
    font-size: medium;
}
.menu > .menu-page .section-heading .material-icons-outlined {
    font-size: large;
    vertical-align: middle;
}
.menu .color-preview {
    padding: 10px;
    margin: 10px;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.menu .color-preview > * {
    flex-grow: 1;
    height: 20px;
}

.menu .color-preview[outlined] > * {
    border: 3px solid;
    
}
#categorical-color-preview-count,
label[for=categorical-color-preview-count] {
    float: right;
}

/* || Color bars */

.colorbar-vertical {
    background: rgb(0,100,200);
    background: linear-gradient(0deg, var(--current-cont-colors));
}

.colorbar-horizontal {
    background: rgb(0,100,200);
    background: linear-gradient(90deg, var(--current-cont-colors));
}

/* || Toggles */

.toggle::before {
    content: "toggle_off";
}
.toggle[on]::before {
    content: "toggle_on";
}

/* || Status Bar (Bottom Bar) */

#status-bar {
    width: 100vw;
    height: var(--status-bar-height);
    background-color: var(--alt-background, black);
    position:fixed;
    bottom: 0;
    left: 0;
    display: flex;
}

#status-bar:hover { /* TODO: decide to keep/not */
    --status-bar-height: calc(var(--atatus-bar-height) + 10px);
}

#status-bar > * {
    line-height: var(--status-bar-height);
    height: var(--status-bar-height);
}

#status-text {
    font-size: calc(var(--status-bar-height) - 4px);
    padding-left: 4px;
    border-left: 2px solid;
}

#status-icon {
    transform-origin: center;
    font-size: var(--status-bar-height);
}
/* Defaults (indicate that the current status has not been styled) */
#status-icon::before {
    content: "question_mark";
}

/* Loading */

[status=loading] #status-icon::before {
    content: "loop";
}

[status=loading] #status-icon {
    animation: rotating 2s linear infinite;
}

[status=loading] #status-text::before {
    content: "Loading page content...";
}

/* Running */
[status=running] #status-icon::before {
    content: "loop";
}

[status=running] #status-icon {
    animation: rotating 2s linear infinite;
}


/* Idle */

[status=idle] #status-icon::before {
    content: "done";
}

[status=idle] #status-text::before {
    content: "Idle";
}

/* || Define animations */
@keyframes rotating {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

/* Figures / Plots */
svg * {
    transform-box: fill-box;
    transform-origin: 50% 50%;
}

/*
.plot-element:hover {
    transform: scale(var(--plot-element-hover-scale));
}

distribution-view [view-type=vertical-bar] .plot-element:hover {
    --adjust-amount: calc(calc(var(--plot-element-hover-scale)/2 - 0.5)*-100%);
    transform: translate(0%, var(--adjust-amount, -20%)) scale(var(--plot-element-hover-scale));
} 
*/












