/* Remove the copyright (and the rest of the footer, since there is not easy way to just remove the copyright notice */
div.footer {
    visibility: hidden;
}

table.column-table { /* Tables designed just to show two columns of content */
    border-style: none;
    box-shadow: none;
    > tbody > tr { /* just removing borders from the column-table and it's direct contents, not any nested tables */
        border-style: none;
        > td, > th {
            border-style: none;
            vertical-align: top;
        }
    }    
}

table.image-table {
    p { /* styling the captions */
        font-size: smaller; 
        text-align: center;
    }
}



p, div.body p { /* Fixing Sphinx's tendency to have tons of hyphens */
    hyphens: manual;
    -moz-hyphens: manual;
    -ms-hyphens: manual;
    -webkit-hyphens: manual;
}