{% extends 'base.html' %}

{% block headcontent %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/database-pages.css') }}">
    <script src="{{ url_for('static', filename='scripts/database-pages.js') }}"></script>
    {% block head %}
    {% endblock %}
{% endblock %}



{% block pagecontent %}
    <!-- Top Navigation Bar -->
    <div class="database-indicator-bar">
        <p> Current database: {{ database_name }} </p>
    </div>
    
    <div class="database-config-bar">
        <h1 class="bar-title">DART</h1>
        <form class="database-navigation" method="post">
            <button type="submit" name="navigate-to" id="navigate-details-button" value="details">Details</button>
            <button type="submit" name="navigate-to" id="navigate-compare-button"value="compare">Compare</button>
            <button type="submit" name="navigate-to" id="navigate-explore-button"value="explore">Explore</button>
        </form>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    
    
    <!-- Job Progress Bar -->
    <div id=status-bar>
        <i class=material-symbols id=status-indicator-icon></i>
        <i id=status-indicator-text></i>
        <span id=progress-indicator>
            <span id=progress-text> </span>
            <progress id=progress-bar max=100></progress>
        </span>
        
    </div>
    
    <!-- config menu -->
    
    <div id="config-window" class=hidden>
        <div id="config-window-content">
            <h1> [Name] Configuration (WIP) </h1>
            <input hidden name="config-options" value="config-options">
            
            <div id="config-submenu-bar">
                <span onclick=switchTab("theme") id="theme-config-button">Themes</span>
                <span onclick=switchTab("color") id="color-config-button">Color Palettes</span>
            </div>
            
            <form id="theme-config-menu">
                <label for="theme-selection">Change Theme: </label>
                <select name="theme-selection" id="theme-selection" onchange=updateTheme()>
                </select>
                <div id="theme-preview">
                </div>
            </form>
            <form id="color-config-menu">
                <table>
                    <tr>
                        <th> Colormap </th>
                        <th> Categorical Palette </th>
                    </tr>
                    <tr>
                        <td> 
                            <select name=cmap-selection id=cmap-selection onchange=colorPreview("cmap")>
                            </select> 
                        </td>
                        <td> 
                            <select name=cpal-selection id=cpal-selection onchange=colorPreview("cpal")> 
                            </select>
                            <input name=cpal-count id=cpal-count type=number min=1 max=20 step=1 value=5 onchange=colorPreview("cpal") />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="cmap-preview"></div>
                        </td>
                        <td>
                            <div id="cpal-preview"></div>
                        </td>
                    </tr>
                </table>
            </form>
            
        </div>
        <script type="text/javascript">
            switchTab("color");
            updateConfigWindow();
            colorPreview("cmap");
            colorPreview("cpal");
        </script>
    </div>
    
    <svg onclick=toggleShow("config-window") xmlns="http://www.w3.org/2000/svg" id="config-button" viewBox="-10 -10 120 120" >
        <circle cx=50 cy=50 r=50 />
    </svg>
{% endblock %}