{% extends 'database_base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/database-compare.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/criteria-filters.css') }}">
    <script src="{{ url_for('static', filename='scripts/criteria-filters.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/similarity-levels.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/database-compare.js') }}"></script>
{% endblock %}

{% block content %}
    <div onclick=toggleCollapse(this) target="filter-section" class="collapsible section-heading">
        <i class="material-icons collapse-icon">chevron_right</i>
        <span>Filters</span>
        <label class=toggle>
            <span class=active-text>Limit height</span>
            <span class=inactive-text>Limit height</span>
            <input type=checkbox onchange=toggleClass("filter-section","limited-height")>
            <i class="material-icons icon"> </i>
        </label>
    </div>
    
    <form id=filter-section>
        <table id=filters>
        </table>
        <input type=submit value="Find Subgroups" />
    </form>
    <script type="text/javascript">
        createFilterSection("compare", removeFilterOptions=["n_attributes", "size"]);
    </script>
    
    
    <div onclick=toggleCollapse(this) id=results-section-heading target=results-section class="collapsible section-heading" hidden>
        <i class="material-icons collapse-icon">chevron_right</i>
        <span>Results</span>
    </div>
    <resizable-pane resize="bottom" id=results-section hidden></resizable-pane> 
{% endblock %}