{% extends 'base.html' %}

{% block headcontent %}
    <link rel=stylesheet href="{{ url_for('static', filename='stylesheets/home.css')}}">
    
{% endblock %}



{% block pagecontent %}
    
    <div id=title-block>
        <div>DART</div>
        <div><span class=emph>DA</span>ta <span class=emph>R</span>epresen<span class=emph>T</span>ativeness</div>
        
    </div>
    
    <form id=dataset-selection method=post>
        <div> Dataset Selection </div>
        <input hidden name=selection></input>
        <input hidden name=action value=dataset-selection></input>
        {% for DS in datasets %}
            <button type=button value={{DS}} onclick=sendSelection(this)>{{ DS }}</button>
        {% endfor %}      
        {% if not demo %}
            <button type=button page="/new" onclick="pageNavigation(this)"> Upload New Dataset </button> 
        {% endif %}
    </form>
{% endblock %}