{% extends 'base.html' %}

{% block headcontent %}
    <script src="{{ url_for('static', filename='scripts/new-database.js') }}"></script>
{% endblock %}


{% block pagecontent %}
    {% if file_information is not defined %}
        <button type="button" onclick="resetStorage()" style="float:right">Reset</button> <!-- DEBUG -->
        <h1>Create a new database</h1>
        
        <form id="file-upload" enctype="multipart/form-data" method="post">
            <input type="submit" value="Submit" formmethod="post" style="float:right"> <!-- TODO (?) validate filepath -->
            <label for="filepath" style="float:left">Filepath:</label>
            <span style="display:block; overflow:hidden; padding: 0 5px;" >
                <input type="text" id="filepath" name="filepath" style="width:100%"> 
            </span>
            <!-- TODO: allow multiple file upload? Have some way to browse? (Not supported to browse and get the filepath instead of the file itself)-->
            
        </form>
    {% else %}
        <form method="post" id="database-creation-form">
            <input hidden name="database-creation-complete" value="True">
            <script type="text/javascript">
                buildDatabaseCreationSection({{ file_information|tojson }})
            </script>
            <input type="submit" value="Create Database">
        </form>
    {% endif %}


{% endblock %}