on:
  push:
    branches:
      - js
  workflow_dispatch:
defaults: 
  run:
    working-directory: js
jobs:
  Run-JS-Tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          cache: "npm"
          cache-dependency-path: js/package-lock.json
      - run: npm ci
      - run: npm test
